* {   
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #c4342c;
}

.nav{
  background-color: #c4342c;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  padding-bottom: 5rem;
}

.pages{
  color: black;
}

.site-title{
  font-size: 2rem;
  text-align: center;
}

.welcome{
  color: black;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
}

table {
  border: 2px solid black;
  width: 800px;
  height: 200px;
  background-color: white;
  
}

.tableheader{
  background-color: #d3d3d3;
}
th{
  border-bottom:  1px solid black;
}

