.tableSection{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;   
}
table {
    border: 2px solid black;
    width: 800px;
    height: 200px;
    background-color: white;
  }
  
th{
  border-bottom:  1px solid black;
  background-color: lightgrey;
}

tr:nth-child(odd){
  background-color: #f2f2f2;
}

 #assetButton{
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
 }

#statusButton{
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
#locationButton{
  background: none!important;
  border: none;
  padding: 0!important;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
