.popup-box {
    position: fixed;
  }
   

.box {
  position: fixed;
  height: 200px;
  width: 50%;
  left: 25%;
  top: 25%;
  border: 1px solid #011627;
  border-radius: 1em;
  box-shadow: -2px 5px 5px #E71D36;
  background-color: #FDFFFC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #011627;
  }

.close-icon {
    content: 'x';
    cursor: pointer;
    position: absolute;
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  } 

  .popup-title {
    margin-top: 20px;
  }

  .save-button {
    margin-left: 30px;
    margin-bottom: 10px;
  }

  .in-service-btn {
    margin-bottom: 10px;
  }

  .out-of-service-btn {
    margin-right: 20px;
    margin-bottom: 10px;
  }
 
  