.popup-box {
    position: fixed;
  }
   

.box {
    position: relative;
    width: auto;
    margin: 0 auto;
    height: auto;
    margin-top: 100px;
    background: white;
    gap: 2rem;
    padding: 20px;
    border: 2px solid black;
    overflow: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }






 
  